[user]
	name = Jeff Rafter (he/him)
	email = jeffrafter@gmail.com
[pull]
	rebase = false
[core]
	editor = code --wait --new-window
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --new-window --wait --diff $LOCAL $REMOTE
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
  wtf = for-each-ref --sort=-committerdate refs/heads --format='%(authordate:short) %(color:red)%(objectname:short) %(color:yellow)%(refname:short)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))' --count=20
  remote-wtf = for-each-ref --sort=-committerdate refs/heads refs/remotes --format='%(authordate:short) %(color:red)%(objectname:short) %(color:yellow)%(refname:short)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset)) %(authorname)' --count=20
	open = "!f() { \
    open \"$(git ls-remote --get-url $(git config --get branch.$(git rev-parse --abbrev-ref HEAD).remote) \
    | sed 's|git@github.com:\\(.*\\)$|https://github.com/\\1|' \
    | sed 's|\\.git$||'; \
    )/compare/$(\
    git config --get branch.$(git rev-parse --abbrev-ref HEAD).merge | cut -d '/' -f 3- \
    )?expand=1\"; \
  }; f"
[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
